<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>JSON Stackoverflow</title>
  </head>
  <body>
    <h1>JSON Stackoverflow</h1>
    <p>Your <a href="http://stackoverflow.com">Stackoverflow</a> reputation as JSON.</p>
    <ul>
      <li><a href="/reputation.json?id=8024">/reputation.json?id=8024</a></li>
      <li><a href="/reputation.json?id=8024&callback=foo">/reputation.json?id=8024&amp;callback=foo</a></li>
      <li><a href="/reputation.json?id=8024&callback=foo.bar">/reputation.json?id=8024&amp;callback=foo.bar</a></li>
    </ul>
    <br />
    <p>
      <div id="so-widget"></div>
    </p>
    <p>Brought to you by <a href="http://stackoverflow.com/users/8024/baishampayan-ghose">Baishampayan Ghose</a></p>
    <script type="text/javascript" src="/widget.js"></script>    
  </body>
</html>
